.foodDiv{
    margin-top: 5px;
    padding: 10px 10px;
    box-shadow: inset #fff 3px 3px 6px 1px,
				inset #6e749b4d -2px -2px 6px 0;
				border-radius: 20px 20px;
}
.searche{
    width: 300px;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}
input{
    margin: auto 10px;
    outline: none;
    color: black;
    width: 100%;
}
.itemBut{
    border-radius: 10px 10px;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid #DC143C;
    background-color: #FFA07A;
    cursor: pointer;
    padding: 10px;
    
}
.itemImg{
    border-radius: 10px;
    border: 3px solid #FFA07A;
}